<div id="grid" class="container">
  <div class="row">
    <% @lists.each do |list|%>
      <div class="col-sm-4 profile">
        <div class="card">
          <div class="card__top">
            <% if list.photo.attached?  %>
              <%= cl_image_tag list.photo.key, alt: "text" %>
            <% else %>
              <%= image_tag list.bookmarks.any? ? list.bookmarks.first.movie.poster_url : "", alt: "text" %>
            <% end %>
          </div>
          <div class="card__bottom">
            <%= link_to(list_path(list)) do %>
              <p class="pt-2">
                <%= list.name %>
              </p>
            </div>
          <% end %>
        </div>
      </div>
    <%  end %>
  </div>
</div>
