<h1>This will be the list-page.</h1>
<div id="grid" class="container">
  <div class="row">
    <% @lists.each do |list|%>
      <div class="col-sm-4 profile">
        <div class="card">
          <div class="card__top">
            <% list.bookmarks.find do |bookmark| %>
              <img src="<%=bookmark.movie.poster_url %>" alt="Card image cap">
            <% end %>
            <div>
              <%= list.name %>
            </div>
          </div>
          <div class="card__bottom">
            <p class="pt-2">
              <%= link_to 'View', list_path(list) %>
            </p>
          </div>
        </div>
      </div>
    <%  end %>
  </div>
</div>
<div class="new">
  <%= link_to 'New List', new_list_path %>
</div>
