// Specific CSS for your home-page

html, body {
  height: 100%;
  margin: 0;
  background: #202125;
}

body {
  display: flex;
  flex-direction: column;
}
.content {
  flex: 1 0;
}

.container-mid {
  width: 80%;
  margin: 6rem auto;
}

#grid {
  margin-top: 25px;
  margin-bottom: 25px;
    .profile {
      padding: 7px;
    }
}
