// Specific CSS for your home-page

html, body {
  height: 100%;
  margin: 0;
  background: #202125;
}

.content {
  min-height:100%;
}

#grid {
  margin-top: 25px;
  margin-bottom: 25px;
    .profile {
      padding: 7px;
    }
}


.footer {
  height: 50px;
  margin-top: 50px;
  background: rgb(42,44,49);
}
