.card {
  &.show {
    // height: fit-content;
    background: #2a2c31;
    border-radius: 8px;

    .card__top {
      position: relative;
      overflow: hidden;
      display:block;
      padding-bottom: 130%;
      border-radius: 8px;

      .poster-image{
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: cover;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
      }

      #info {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 3;
        display: inline-block;
        background: linear-gradient(0deg,#2a2c31 0,rgba(7,53,57,0) 60%);
      }


      h5 {
        font-size: 2rem;
        z-index: 5;
        position:absolute;
        top: 8px;
        left: 8px;
        right: 0;
        bottom: 0;
        text-shadow: 1px 1px 2px #00000063;
        height: 25px;
        width: 25px;
        border-radius: 50%;
        padding: 16px;
        display: flex;
        justify-content: center;
        align-items: center;


        a {
          text-decoration: none;
          cursor: pointer;

        }

      }

      .tick {
        position: absolute;
        bottom:3px;
        z-index:10;

        .rating {
          position:relative;
          left:16px;
          font-size: 16px;
          font-family: arial;
          font-weight: 600;
          display: inline-block;
          line-height: 1.2em;
          padding: 2px 4px;
          border-radius: 5px;
          background: #cae962;
          color: #111;

        }
      }
    }

    .card__bottom {
      flex-direction: column;
      text-align: left;
      padding: 16px;



      .movie-name {
        color:white;
        padding-bottom:8px;
    }

    p {
      color: #82b2b7;
    }

    h5 {
      color:white;
    }




  }

  }

  .show-link {

    &:after
    {
      background: linear-gradient(0deg,#073539 0,rgba(7,53,57,0) 100%);
    }

  }
}
