#new_list, #new_bookmark {
  width: 65%;
  margin: auto;
  display:flex;
  flex-direction: column;

  label {
    font-size: 16px;
    color:white;
    padding-bottom:8px;
  }
  input {
    padding-inline-start: 1rem;
    height:50px;
    border-radius: 30px;
    font-size:16px;
    border: none !important;
  }

  #list_photo{
    // width: 15%;
    color:white;
  }


  .button {
    background-color: $blue;
  }

}

#bookmark_movie_id {
  border-radius: 30px;
  padding-inline-start: 1rem;
  height:50px;
  border: none !important;
}
