#new_list {
  width: 80%;
  margin: auto;

  input {
    height:50px;
    border-radius: 30px;
    font-size:16px;
    border: none !important;

  }

  .button {
    background-color: #cae962;
  }

}
