
  .card {
    background-color: rgb(42,44,49);
    height: 300px;
    border-radius: 10px;
    overflow: hidden;
    &__top {
      overflow: hidden;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      height: 80%;
      color: grey;
      // background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3);
      img {
        object-fit:cover;
        border-radius: 3px;
        margin-bottom: 15px;
      }
      span:nth-child(2) {
        font-weight: bold;
        font-size: 1.5em;
      }
    }
    &__bottom {
      height: 20%;
      // background-color: #3D3E43;
      background-color: $blue;
      color: #3D3E43;
      display: flex;
      justify-content: space-around;
      align-items: center;
      border-radius: 0 0 10px 10px;


      & > div > div:nth-child(2) {
        font-weight: bold;
        width: 100%;
      }

      a {
        color: #3D3E43;
        width: 100%;
        text-align: center;
        text-decoration: none;
        font-size: 16px;
        font-weight:bold;
      }
    }
  }

  // Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .flexboxy {
    grid-template-columns: 1fr;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .flexboxy {
    grid-template-columns: 1fr;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .flexboxy {
    grid-template-columns: 1fr 1fr;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .flexboxy {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .flexboxy {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
