.navbar-lewagon {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: rgb(42,44,49);
  height: 85px;

  a {
    text-decoration: none;
  }

  h2 {
    color: $blue;
  }
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .btn-user {
    height: 40px;
    line-height: 40px;
    padding: 0 15px;
    font-weight: 400;
    margin-left: 15px;
    color: #2a2c31;
  }
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}
